table, th, td{
    margin: auto;
    border: 1px solid;
    background-color: rgb(216, 228, 247);
}

input{
    padding: 10px;
  }

button{
    background-color: rgb(65, 183, 199);
    padding: 6px;
    font-size: large;
    font-weight: bold;
    border-radius: 20%;
  }
  h2, form{
    text-align: center;
  }