.App {
  text-align: center;
  margin: 70px;
  background-color: #606080c2;
  padding: 100px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* #header {
  font-style: italic;
  background-color: #02000cfb;
  color: whitesmoke;
  padding: 0.5em;
  grid-area: header;
}

#footer {
  font-style: italic;
  background-color: #02000cfb;
  color: whitesmoke;
  padding: 0.5em;
  grid-area: footer;
}

#sidebar {
  background-color: #d3430b;
  flex: auto;
  display: block;
  width: 25%;
  color: rgb(224, 219, 212);
}

#main-content {
  background-color:rgb(211, 200, 200);
  width: 75%;
  padding: 4em;
  color: rgba(0, 0, 0, 0.897);
  text-transform: uppercase;
}

#container {
  display: flex;
  height: 200px; 
} */

h1 {
  text-align: center;
  text-shadow: 1px 1px 3px #b8257654;
}
h2,h3{
  color: rgb(23, 12, 122);
}
/* #childcare, #insurance, #mortgage, #grocery{
  display: inline;
  
} */

/* #monthlybalance{
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
} */
label{
  font-size: x-large;
  color: #1d0941e1;
  font-weight: bold;
}

table, th, td{
  margin: auto;
  border: 1px solid;
  background-color: rgb(164, 196, 170);
}

/* #display{
  background-color: blue;
} */


